body {
    width: 100vw;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;

}

header {
    display: flexbox;
    align-items: center;
    background-color: salmon;
    width: 100vw;
}

header div#cabeca {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    padding: 0px;
}

header div#cabeca h1 {
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    display: flex;

}

header div#cabeca img#profile{
    width: 25vw;
    border-radius: 50%;
}

header div p#p1 {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 3vw;
    padding: 10px
}

nav {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightsalmon;
    padding: 0px;
    width: 100vw;
}

nav ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    width: 100vw;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 3vw; 
    color:blanchedalmond;
}

nav ul li a:hover {
    margin: none;
    width: 100vw;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
}

main {
    margin-block: 10px;
}

main article {
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    padding: 15px;
}

main article img {
    width: 100%;
}

main article:hover {
    width: auto;
    background-color: azure;
    margin: 20px;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    border-radius: 15px;
}

text {
    margin: 40px;
    align-items: center;
    justify-content: space-around;
}

img {
    border-radius: 3%;
}

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: lightsalmon;
    padding: 20px;
}

footer a.ft1 {
    position: relative;
    bottom: 5px;
}

footer a.ft3 {
    position: relative;
    top: 2px;
}


@media screen and (min-width: 740px) {
    main article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.3s;
    }

    main article:hover {
        width: auto;
        background-color: azure;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 400px;
        border-radius: 15px;
    }

    main article img {
        width: 30vw;
    }

    header {
        display: flexbox;
        align-items: center;
        background-color: salmon;

    }

    header div#cabeca {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header div p#p1 {
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.5vw;
        padding: 10px
    }

    header div#cabeca h1 {
        justify-content: center;
        align-items: center;
        display: flex;
        border-style: groove;
        border-radius: 100px;
        border: 3px solid blanchedalmond;
        width: 30vw;
    }
    header div#cabeca img#profile{
        width: 25vw;
        padding: 20px;
        border-radius: 50%;
    }

    nav {
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: lightsalmon;
        padding: 0px;
        width: 100vw;
    }

    nav ul {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 10px;
    }

    nav ul li {
        margin: 0;
        justify-content: space-evenly;
        padding: 20px;
    }

    nav ul li a {
        border-radius: 50px;
        text-decoration: none;
        font-size: 1.5vw;
    }

    nav ul li a:hover {
        background-color: brown;
    }
}